/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

main {
    padding-top: 60px;
}

/*-------------------
    GRID LAYOUT
-------------------*/

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*------------
 TIPOGRAPHY
 ------------ */
.brand {
    color: #000000;

}

.description {
    font-weight: bold;
}

.price {
    color: #ff0000;
}

.full-price {
    text-decoration: line-through;

}

.heart-hover {
    color: red;
}



/*------------
 HEADER
 ------------ */

.bg-head {
    min-height: 43px;
    background-color: #ff6900;

}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    color: white;

}

.center {
    padding-right: 60px;
}

.awesome {
    padding-right: 25px;

}

/* ---------------
MAIN 
-----------------*/

.section-top {
    display: flex;
    padding-top: 30px;

}

.down {
    margin-top: 50px;
}


.box {
    width: calc(100% / 3);
    margin-right: 20px;
}

.card {
    position: relative;
}

.discount {
    position: absolute;
    bottom: 30px;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: white;
    width: 40px;
    height: 40px;
    padding: 10px 12px;
    font-size: 20px;
}

.percent {
    background-color: red;
}

.sos {
    background-color: green;
}

/* ---------------
HOVER 
------------------*/
.card .card-image-hover {
    display: none;
}

.card:hover .card-image-hover {
    display: block;
}

.card:hover .card-image-default {
    display: none;
}

.heart .heart-hover {
    display: none;
}

.heart:hover .heart-default {
    display: none;
}

.heart:hover .heart-hover {
    display: block;
}



/* ---------------
FOOTER
-----------------*/

.bg-foot {
    background-color: black;
    min-height: 70px;
    margin-top: 50px;
    margin-bottom: 1px;
    color: white;

}

.contact {

    margin-top: 10px;

}

.legal-info {
    margin-top: 10px;

}